*{
	transition: all .4s ease;
}

body {
	font-family: 'Montserrat',sans-serif;
	margin: 0;
}

.main {
	background: #2c3e50;
	padding-bottom: 200px;
}

h1 {
	color: #fff;
	margin-top: 12%;
	font-size: 4em;
}

h3 {
 	color: #fff;
 	font-weight: 300;
 	font-size: 20px;
}

.new {
	margin-top: 3%;
	color: #333;
	font-size: 2em;
	border-bottom: 1px solid #000;
	width: 12%;
	padding-bottom: 1%;
}

.new-p {
	width: 70%;
	font-weight: 300;
	font-family: 'Roboto',sans-serif;
	font-size: 1.2em;
	text-align: justify;
	margin-top: 3%;
}

a {
	text-decoration: none;
	color: #16a085;
	border-bottom: 1px solid transparent;
	font-size: 1.2em;
	padding: 0.3%;
	padding-right: 0;
	padding-left: 0;
}

a:hover {
	border-bottom: 1px solid #16a085;
}

footer {
	background: #eee;
	padding-bottom: 1%;
}

footer p {
	color: #888;
	font-weight: 300;
}